{% if auth_user %}
    <div class="topnav">
        <a href="/tournament">Tournaments</a>
        {% if auth_user.usergroup == 'admin' %}
            <a href="/user/">Users</a>
        {% endif %}
        <a href="/user/{{ auth_user.id }}">{{ auth_user.name }}</a>
        <a href="/user/logout">Logout</a>

    </div>
{% else %}
    <div class="topnav">
        <a href="/tournament">Tournaments</a>
        <a href="/user/login">Login</a>
        <a href="/user/register">Register</a>
    </div>
{% endif %}

<h1>Tournament Details</h1>
{% if tournament.status == 'draft' %}
    <form action="" method="post">{% csrf_token %}
        ID:<br>
        <a>{{ tournament.id }}</a>
        <br><br>
        Name:<br>
        <input name="name" value="{{ tournament.name }}" required>
        <br><br>
        Starting date:<br>
        <input name="datetime" type="datetime-local" value="{{ tournament.datetime|date:"Y-m-d\TH:i" }}" required>
        <br><br>
        Max players:<br>
        <input name="max_players" type="number" value="{{ tournament.max_players }}" required>
        <br><br>
        Status:<br>
        <a>{{ tournament.status }}</a>
        <br><br>
        <input type="submit" value="Update">
    </form>

    <h3>Players</h3>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Action</td>
        </tr>
        {% for p in players %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <form action="/tournament/{{ tournament.id }}/player/{{ p.id }}/delete" method="get">{% csrf_token %}
                    <td><input type="submit" value="delete"></td>
                </form>
            </tr>
        {% endfor %}
        <tr>
            <form action="/tournament/{{ tournament.id }}/player/" method="post">{% csrf_token %}
                <td></td>
                <td><input name="name" type="text"></td>
                <td><input type="submit" value="add"></td>
            </form>
        </tr>
    </table>

{% else %}
    ID:<br>
    <a>{{ tournament.id }}</a>
    <br><br>
    Name:<br>
    <a>{{ tournament.name }}</a>
    <br><br>
    Starting date:<br>
    <a>{{ tournament.datetime }}</a>
    <br><br>
    Max players:<br>
    <a>{{ tournament.max_players }}</a>
    <br><br>
    Status:<br>
    <a>{{ tournament.status }}</a>

    <h3>Players</h3>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Name</td>
        </tr>
        {% for p in players %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}




{% if tournament.status == "active" %}
    <h3>Scores</h3>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>PlayerA</td>
            <td>ScoreA</td>
            <td>ScoreB</td>
            <td>PlayerB</td>
            <td>Stage</td>
            <td>NextID</td>
            <td>NextPosition</td>
            <td>Action</td>
        </tr>
        {% for s in scores %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.player_a }}</td>
                {% if s.player_a and s.player_b and not s.score_a and not s.score_b %}
                    <form action="/tournament/{{ tournament.id }}/score/{{ s.id }}/" method="post">{% csrf_token %}
                        <td><input name="score_a" value="{{ s.score_a }}" type="number"></td>
                        <td><input name="score_b" value="{{ s.score_b }}" type="number"></td>
                        <td>{{ s.player_b }}</td>
                        <td>1/{{ s.stage }}</td>
                        <td>{{ s.next_id }}</td>
                        <td>{{ s.next_position }}</td>
                        <td><input type="submit" value="update"></td>
                    </form>
                {% else %}
                    <td>{{ s.score_a }}</td>
                    <td>{{ s.score_b }}</td>
                    <td>{{ s.player_b }}</td>
                    <td>1/{{ s.stage }}</td>
                    <td>{{ s.next_id }}</td>
                    <td>{{ s.next_position }}</td>

                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% elif tournament.status != 'draft' %}
    <h3>Scores</h3>
    <table border="1">
        <tr>
            <td>ID</td>
            <td>PlayerA</td>
            <td>ScoreA</td>
            <td>ScoreB</td>
            <td>PlayerB</td>
            <td>Stage</td>
            <td>NextID</td>
            <td>NextPosition</td>
        </tr>
        {% for s in scores %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.player_a }}</td>
                <td>{{ s.score_a }}</td>
                <td>{{ s.score_b }}</td>
                <td>{{ s.player_b }}</td>
                <td>1/{{ s.stage }}</td>
                <td>{{ s.next_id }}</td>
                <td>{{ s.next_position }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}